

<div class="container content">
    <form>

        
        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                <label for="exampleFormControlInput1">Operand 1</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter a number
                " max="10" min="1">
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                <label for="exampleFormControlInput1">Operand 2</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter a number
                " max="10" min="1">
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                <label for="exampleFormControlInput1">Result</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Result">
                </div>
            </div>
        </div>

        <div class="choose">
            <div class="row justify-content-md-center">
                <div class="col-sm-4">
                    <div class="form-group">
                    <label for="exampleFormControlSelect1">Select the correct operator</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>+</option>
                    <option>-</option>
                    </select>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 right">
                <img src="../../assets/images/img.png" alt="">
            </div>
            <div class="col-6">
                <p>
                    Think very quickly you have 10 seconds to discover the operator used in the operation performed.
                </p>
            </div>
        </div>

        
    </form>
</div>
