

<div class="container content">
    
    <h1><span class="first">Mathematical </span><span class="last"> Game</span></h1>
    <div class="row">
        <div class="col center">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/easy.png" class="card-img-top" alt="Easy Mode">
                <div class="card-body">
                  <h5 class="card-title">Easy Mode</h5>
                  <p class="card-text">You have to find an operator to win the game.</p>
                  <a href="#" class="btn btn-primary">Play</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/hard.png" class="card-img-top" alt="Hard Mode">
                <div class="card-body">
                  <h5 class="card-title">Hard Mode</h5>
                  <p class="card-text">Increase the chalenge and try to find two operators used to win the game..</p>
                  <a href="../hard-mode/hard-mode.component.html" class="btn btn-primary">Play</a>
                </div>
              </div>
        </div>
    </div>
</div>
